<%- include("header") %>

<%- include("main") %>

<div class="results" id="results">
    <div class="container">
        <h2>Here are your results:</h2>
        <p><span class="results-numbers"><%= fromNumber %></span> <span class="results-units"><%= fromUnit %></span> <span class="results-operator">&#8680;</span> <span class="results-numbers"><%= toNumber %></span> <span class="results-units"><%= toUnit %></span></p>
    </div>
</div>

<%- include("footer") %>